vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
.env.prod
.env.dev
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
storage/
.DS_Store
.vscode/settings.json
storage/framework/sessions/UjpbxSk19hxyMf2r52lI6ITlv0nGeg6Siwlg1rxY
